<!-- html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{fragments/PageLayout.html :: head('Login')}"></form>
<body>
<form th:replace="~{fragments/PageLayout.html :: header}"></form>

<div class="body-content">
    <h1>🔑 Login</h1>
    <p class="text-muted">Welcome back! Please enter your credentials to continue.</p>
    
    <form th:action="@{/user/login}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" th:field="*{email}" placeholder="Enter your email"/>
            <label class="error" th:errors="*{email}">Email error</label>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" th:field="*{password}" placeholder="Enter your password"/>
            <label class="error" th:errors="*{password}">Password error</label>
        </div>

        <input type="submit" value="Login"/>
    </form>
    <p class="mt-lg">Don't have an account? <a th:href="@{/user/register}">Register here</a></p>
</div>

<footer th:replace="~{fragments/PageLayout.html :: footer}"></footer>
</body>
</html>