<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/PageLayout.html:: head('All Posts')}"></head>
<body>
<header th:replace="~{fragments/PageLayout.html :: header}"></header>

<div class="body-content">
    <div th:if="${posts.isEmpty()}">
        <h2 th:text="#{posts.title.empty}">No Posts</h2>
    </div>
    <div th:unless="${posts.isEmpty()}">
        <h2 th:text="#{posts.title}">All Posts</h2>
        <div class="controls" style="margin-bottom: 20px;">
            <form method="get" action="#" class="sort-form">

                <!-- Sort by selection -->
                <label for="sortBy">Sort by:</label>
                <select name="sortBy" id="sortBy">
                    <option value="createdAt"
                            th:selected="${sortBy == 'createdAt'}">Date</option>
                    <option value="likes"
                            th:selected="${sortBy == 'likes'}">Likes</option>
                </select>

                <!-- Order selection -->
                <label for="order">Order:</label>
                <select name="order" id="order">
                    <option value="desc"
                            th:selected="${order == 'desc'}">Newest first</option>
                    <option value="asc"
                            th:selected="${order == 'asc'}">Oldest first</option>
                </select>

                <button type="submit">Apply</button>
            </form>
        </div>
        <div class="table">
            <div class="header">
                <div class="header-cell" th:text="#{post.title}">Post Title</div>
                <div class="header-cell" th:text="#{post.likes}">Likes</div>
                <div class="header-cell" th:text="#{post.created-by}">Created by</div>
                <div class="header-cell" th:text="#{post.createdAt}">Created by</div>
            </div>
            <div class="row" th:each="post : ${posts}">
                <div class="cell">
                    <a href="#" th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">Post</a>
                </div>
                <div class="cell" th:text="${post.likes}">0</div>
                <div class="cell" th:text="${post.user.username}">Created by</div>
                <div class="cell"
                     th:text="${post.createdAt == null ? '' : #temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">
                    Created at
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/PageLayout.html :: footer}"></footer>
</body>
</html>